{% extends 'main/layoute.html' %}

{% block title %}
<title>Артисты</title>
{% endblock %}

{% block content %}

<h2>Таблица Персонажей</h2>

<table>
    <thead>
        <tr>
            <th>Персонаж       </th>
            <th>Актер          </th>
            <th>Описание персонажа</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Марти Макфлай</td>
            <td>Майкл Джей Фокс</td>
            <td>Подросток из 1980-х. Волею случая Марти путешествует на машине времени, чтобы исправить ошибки, которые он и его семья могут сделать в будущем или сделали в прошлом.</td>
        </tr>
    <tr>
            <td>Эмметт Браун</td>
            <td>Кристофер Ллойд</td>
            <td>Гениальный, не от мира сего, учёный, с лицом, напоминающим Эйнштейна, изобретатель машины времени.</td>
        </tr>
    </tbody>
</table>

{% endblock %}
