{% extends 'main/layoute.html' %}

{% block title %}
    <title>Назад в будещее</title>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Назад в будущее</h1>
    <div class="card">
        <div class="card-body">
            <p>По сюжету доктор Эмметт Браун 30 лет изобретал машину времени и, наконец, в 1985 году он закончил работу над ней, установив энергетический флюксуатор (в других переводах — потоковый накопитель и поточный конденсатор) в автомобиле DeLorean DMC-12.</p>

            <p>Сначала он демонстрирует машину своему юному другу, старшекласснику Марти Макфлаю, но именно тогда на них нападают охотящиеся за «Доком» (доктором) террористы. Дока убивают, а Марти спасается на машине времени и попадает в 1955 год. Возвращение крайне проблематично, потому что для путешествия во времени нужен плутоний.</p>

            <p>Кроме того, из-за нелепой случайности Марти мешает встрече собственных родителей. Этим он ставит под угрозу своё существование, и находит ещё молодого Эмметта Брауна, надеясь с его помощью решить эти две проблемы, а также спасти Дока в будущем, предупредив об опасности.</p>

            <p>Марти необходимо успеть влюбить друг в друга своих родителей, противостоять негодяю Биффу Таннену и вернуться в своё время.</p>
        </div>
    </div>
</div>
{% endblock %}