{% extends 'main/layoute.html' %}

{% block title %}
    <title>Назад в будещее 2</title>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Назад в будущее 2</h1>
    <div class="card">
        <div class="card-body">
            <p>Продолжение, «Назад в будущее 2», вышло в 1989 году. Успешно справившись со всеми трудностями, Марти возвращается домой, в 1985 год. Но неожиданное появление Дока заставляет юношу рассказать его подружке Дженнифер о существовании машины времени — героям приходится отправиться в 2015 год, чтобы спасти своих будущих детей от тюрьмы.</p>

            <p>Между тем старик Бифф Таннен узнаёт о существовании машины времени, угоняет её и изменяет собственную судьбу, превращая себя в одного из самых богатых людей США. Остальной же мир становится настоящим кошмаром, в котором отец Марти убит, а Док признан сумасшедшим..</p>

            <p>Док и Марти отправляются в прошлое, чтобы помешать Биффу из будущего изменить настоящее. По странному стечению обстоятельств, вернуться им предстоит всё в тот же 1955 год. После удачного исхода их миссии в машину времени с находящимся в ней Доком случайно ударяет молния, и Док оказывается в 1885 году.</p>
        </div>
    </div>
</div>
{% endblock %}