{% extends 'main/layoute.html' %}

{% block title %}
    <title>Назад в будещее 3</title>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Назад в будущее 3</h1>
    <div class="card">
        <div class="card-body">
            <p>В заключительной части, «Назад в будущее 3», выпущенной в 1990 году, оставшийся в 1955 году Марти Макфлай ищет машину времени, оставленную Доком в 1885 году. Случайно он узнаёт, что в этом году Док был убит бандитом Бьюффордом Танненом за долг в 80 долларов. Марти отправляется в прошлое — на Дикий Запад, чтобы спасти своего друга.</p>

            <p>Но пожилой учёный влюбляется в учительницу Клару Клейтон, а возвращение домой станет невыполнимым заданием для двух путешественников во времени.</p>

            <p>После нападения индейцев DeLorean остаётся без топлива, которое ещё даже не изобрели. Однако Марти и Док решили придать машине ускорение, поставив её на рельсы впереди несущегося к пропасти локомотива.</p>
        </div>
    </div>
</div>
{% endblock %}